NODE_ENV=development
PORT=3001
MONGODB_URI=mongodb+srv://unoadmin:JS9Ecdmuv-2mCg8@cluster0.xhttxt4.mongodb.net/?appName=Cluster0
REDIS_URL=rediss://default:gQAAAAAAAgTmAAIgcDI0M2RhZTFhZjY0OGQ0NGEzYjViYWI5Y2UyZjRkNGYwMA@related-lynx-132326.upstash.io:6379
JWT_SECRET=e64a18a716f97cb57595a4d0c4da926a778205fb37e062e9fd6e2e25eddc8bd99daf61fe8a65ea8cb10bd2b28008e12814d867b6aee4f26969dc0c98f79c8d24
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
